# === Frontend / Next.js ===
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_SANITY_PROJECT_ID=m6r6y2se
NEXT_PUBLIC_SANITY_DATASET=production
NEXT_PUBLIC_SANITY_API_VERSION=2025-05-27

# === Sanity Studio ===
SANITY_AUTH_REDIRECT_URL=http://localhost:3333/api/auth

# === Stripe (Phase 2) ===
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET= 